@font-face {
	font-family: 'Helvetica Neue';
	src: url('fonts/helvetica.eot');
	src: local('☺'), url('fonts/helvetica.woff') format('woff'), url('fonts/helvetica.ttf') format('truetype'), url('fonts/helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}