body{
	width:100%;
}
#logo{
	padding-top:25px;
}

#browse,
#browes-categories,
.browse-list,
.category,
#search{
	width:100%;
	padding:0;
	margin:0;
}
#browseHeadline{
	width:100%;
	padding:10px 0;	
}
.browse-list{
	border-left:none;
	border-right:none;
	-webkit-box-shadow:none;	
	-moz-box-shadow:none;		
	box-shadow: none;	
}

.category{
	margin:0;
}
#corner-banner{
	display:none;
}
.inline{
	padding:0 12px;
}

#overlay-content{
	width:80%;
	margin-left:10%;
	height:50%;
}
#overlay-content #message{
	width:90%;
	padding:10px;
}

#login, #register, #forgotten{
	width:100%;
	box-shadow:none;
	-webkit-box-shadow:none;
	padding: 0 0px 20px;	
}
#registration-form input, #login-form input, #forgotten-form input{
	width:90%;
}

#footer-links{
	padding:0;
}
#big_shopping_list{
	width:100%;
	border:none;
}
#select-supermarket{
	width:100%;
}
table{
	border-spacing:0;
}
.product-details-row td{
	border-bottom:1px solid #00aef0;
}
table tr.even{
	background:#edf3ee;
}