/* CSS Document */
body{
	color: #000;
	background:#FFF;	
}
#toolbar{
	display:none;
}
table{
	border:1px solid #000;
	color:#000;
}
table tr td{
	border:solid 1px #000;
	color:#000 !important;	
}
table tbody td,
table thead td,
table tfoot td{
	color:#000 !important;
}
table tfoot > tr:last-child{display:none;}
#big_shopping_list_back_button{display:none;}
#footer{
	display:none;
}
legend{display:none;}
#big_shopping_list{border:none;}
table tbody tr > td:nth-child(5),
table thead tr > th:nth-child(5){
	display:none;
}
.for-print{
	display:block;
}