body{
	text-align:center;
}

html{ background-color:#f3eee2; }

#large body{ padding:0 0 3px 0; }

a{ color:#0092b2; text-decoration:underline; }
a:hover{ text-decoration:none; }

#user-bar{
	height:38px;
	background-color:#f8f8f8;
	border-bottom:1px solid #f3f3f3;
	text-align:center;
}

	#user-bar .inner{
		margin:0 auto 0 auto;
		text-align:left;
		width:900px;	
	}

	#user-bar h1{
		float:left;
		font-size:230%;
		padding:2px 0 0 0;
		font-weight:bold;
	}

		#user-bar h1 a{
			color:#353535;
			text-decoration:none;
			font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
		}
		#user-bar h1 a:hover{ color:#b4b4b4; }

	#user-bar ul{
		float:left;
		padding:13px 0 0 20px;
	}

		#user-bar ul li.first{ border-left:none; }
		#user-bar ul li{
			float:left;
			font-size:90%;
			padding:0 15px 0 15px;
			border-left:1px solid #eeeeee;
		}

#navigation-main{
	width:900px;
	margin:0 auto 0 auto;
	text-align:left;
	background:url(../img/navigation.bg.png) left top repeat-x;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

	#navigation-main li{
		float:left;
		padding:0 12px 0 12px;
		position:relative;
	}
		#navigation-main li.first{ margin-left:11px; }

	#navigation-main li a.main{
		display:block;
		height:25px;
		float:left;
		padding:10px 0 0 0;
		color:#ffffff;
		font-weight:bold;
		text-decoration:none;
		text-shadow:#7c932e 0 1px 0;
	}
	
		#navigation-main li.hover a.main,
		#navigation-main li.selected a.main{
			height:22px;
			border-bottom:3px solid #776045;
		}

		#navigation-main li a.main:hover{ text-shadow:#4f5e1d 0 1px 0; }

		#navigation-main li.hover ul{ display:block; }
		#navigation-main li ul{
			display:none;
			position:absolute;
			top:35px;
			z-index:500;
			padding:6px 0 0 0;
			left:0;
			background:url(../img/navigation.sub.bg.png) left top repeat-x #765f45;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	
		#navigation-main li ul li,
		#navigation-main li ul li.first{
			float:none;
			padding:0 0 5px 0;
			margin:0;
		}

		#navigation-main li ul li a{
			float:none;
			color:#ffffff;
			text-align:center;
			padding:6px 0 6px 0;
			display:block;
			text-decoration:none;
			width:100px;
			text-shadow:#261e15 0 1px 0;
		}
		#navigation-main li ul li a:hover,
		#navigation-main li ul li.selected a{ text-decoration:underline; }

#content{
	width:900px;	
	margin:0 auto 0 auto;
	text-align:left;
}

	#content #left{
		float:left;
		width:647px;
		padding-right:3px;
	}

	#content #right{
		float:left;
		width:250px;
	}

		#content #right h3{
			margin:6px 20px 11px 20px;
		}

	#content div.block div.inner-block{ position:relative; }
	#content div.block{
		background:#ffffff;
		border:1px solid #dcdcdc;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin:3px 0 0 0;
		padding:8px 0 8px 0;
		position:relative;
	}
		#content div.block-flushbottom{
			padding-bottom:0;
		}

		#content div.block p.bottom-text{
			font-weight:bold;
			background-color:#ededed;
			margin:0 0 0 0;
			padding:7px 14px 7px 4px;
			border-top:1px solid #dcdcdc;
			text-align:right;
			-webkit-border-bottom-left-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			-moz-border-radius-bottomright: 4px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

			#content div.block p.bottom-text a{
			}

	#content form.email-users div.form-field-submit{
		padding:20px 0 10px 20px;
	}

	#content ul.email-users-groups{
		padding:0 0 0 10px;
	}

		#content ul.email-users-groups li{
			display:block;
			float:left;
			text-align:center;
			margin-left:10px;
		}

		#content ul.email-users-groups li input{
			/*display:inline-block;
			margin-top:10px;*/
			display:none;
		}

		#content ul.email-users-groups li p,
		#content ul.email-users-groups li h3{
			margin:0;
			text-align:center;
		}
		#content ul.email-users-groups li p{ margin-top:7px; }
		#content ul.email-users-groups li h3{ font-size:140%; }

		#content ul.email-users-groups li a{
			float:left;
			display:block;
			padding:4px 9px 4px 9px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color:#d1d1d1;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#f1f1f1));
			background-image: -moz-linear-gradient(top,  #d1d1d1,  #f1f1f1);
			text-decoration:none;
			box-shadow:0 0 3px #d4d4d4;
			-webkit-box-shadow:0 0 3px #d4d4d4; 
			-moz-box-shadow: 0 0 3px #d4d4d4; 
			border:1px solid #ffffff;
		}

		#content ul.email-users-groups li a:hover p,
		#content ul.email-users-groups li.selected a p,
		#content ul.email-users-groups li a:hover h3,
		#content ul.email-users-groups li.selected a h3{ color:#ffffff; }

		#content ul.email-users-groups li a:hover,
		#content ul.email-users-groups li.selected a{
			background-color:#a7c445;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#a7c445), to(#c0dd5e));
			background-image: -moz-linear-gradient(top,  #a7c445,  #c0dd5e);
		}

	#content h2{
		font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
		font-size:210%;
		font-weight:normal;
		margin:7px 20px 14px 20px;
		color:#000000;
	}

	#content h3,
	#content legend{
		font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
		font-size:170%;
		font-weight:normal;
		color:#353535;
		margin:14px 20px 8px 20px;
		display:block;
	}
	#content legend{ float:left; margin:7px 0 0 0; }

	#content h4{
		font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
		font-size:140%;
		font-weight:normal;
		color:#353535;
		margin:14px 20px 8px 20px;
		display:block;
	}

	#content p{
		margin:7px 20px 7px 20px;
		line-height:1.5em;
	}

#content p.simple-message{
	text-align:left;
	padding:12px 0 12px 40px;
	margin:12px 20px 7px 20px;
	color:#4d4d4d;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
	#content p.simple-message a{ color:#4d4d4d; font-weight:bold; }

#content p.simple-message-success{ border:1px solid #9adf8f; background:#d5ffce url(../img/icon.tick.png) 9px 9px no-repeat; }
#content p.simple-message-information{ border:1px solid #a2b4ee; background:#dbe3ff url(../img/icon.information.png) 9px 9px no-repeat; }
#content p.simple-message-error{ border:1px solid #df8f8f; background:#ffcece url(../img/icon.cross.png) 9px 9px no-repeat; }
#content p.simple-message-warning{ border:1px solid #e6db55; background:#fffbcc url(../img/icon.warning.png) 9px 9px no-repeat; }

div#footer{
	background:#005d71 url(../img/footer.bg.png) left top repeat-x;
	width:900px;	
	margin:3px auto 0 auto;
	text-align:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	clear:both;
	display:none
}

	div#footer ul{
		padding:20px 0 20px 35px;
	}

	div#footer ul li{
		float:left;
		padding:7px 35px 0 0;
		font-weight:bold;
		font-size:120%;
		text-shadow:#444444 0 1px 0;
	}

	div#footer ul li a:hover{ text-decoration:underline; }
	div#footer ul li a{
		color:#ffffff;
		text-decoration:none;
	}

	div#footer ul li.version{
		float:right;
		font-weight:normal;
		font-size:100%;
		text-align:right;
		padding-top:0;
	}

	div#footer ul li.version a.core{
		font-size:80%;
		color:#e4e4e4;
	}

div.divider{
	background:url(../img/divider.png) center center no-repeat;
	margin:5px 0 5px 0;
}

div.divider-spacing{
	margin:15px 0 15px 0;
}

div.form-buttons{
	float:left;	
	margin:20px 0 10px 20px;
}

/*
	Paginator
*/
#content div.paginator{
	float:right;
	padding:10px 0 0 0;
}

#content div.paginator p{
	float:left;
	margin:7px 30px 7px 20px;
	line-height:normal;
	font-weight:bold;
	font-size:90%;
	color:#000000;
}

#content div.paginator ul{
	float:left;
	margin:7px 15px 7px 0;
	padding:0;
}

#content div.paginator ul li.selected a{
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}

#content div.paginator ul li{
	float:left;
	margin:0;
	padding:0 5px 0 5px;
	list-style:none;
	font-size:90%;
}

/*
	Form: Standard
*/
form.standard{
	margin:0 20px 0 20px;
}
#content form.standard p{ line-height:normal; }
#content form.standard p.error{ margin:0 0 0 160px; height:20px; padding:4px 0 0 20px; }

form.standard div.form-field{
	clear:left;
	padding:8px 0 10px 0;
	position:relative;
}

form.standard select,
form.standard textarea.input-textarea,
form.standard input.input-text{
	background:url(../img/form.input.bg.png) left top repeat-x #ffffff;
	display:block;
	border:1px solid #d4d4d4;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	height:23px;
	padding:0 4px 0 4px;
	width:260px;
	font-size:90%;
}
	#content form.standard p.float-text{ float:left; margin:0 10px 0 5px; padding:4px 0 0 0; }
	form.standard select.select-small{ width:93px; margin-right:5px; }
	form.standard select.select-xsmall{ width:59px; margin-right:5px; }
	form.standard select.select-xxsmall{ width:47px; margin-right:5px; }

	form.standard input.input-text-xsmall{ width:59px; margin-right:5px; }

	form.standard div.form-field-integer input.input-text{ width:50px; text-align:center; float:left; margin-left:0; margin-right:5px; }
	form.standard div.form-field-integer div.form-field-submit{ float:left; }
		form.standard div.form-field-integer div.form-field-submit div.input{ margin-left:0; margin-right:5px; }
		form.standard div.form-field-integer div.form-field-submit div.input input{ height:25px; padding:0 7px 5px 7px; }

form.standard select:focus,
form.standard textarea.input-textarea:focus,
form.standard input.input-text:focus{
	border:1px solid #a4a4a4;
}

form.large div.file-details,
form.large div.input{
	margin:0 0 0 160px;
}

form.standard div.file-details div.input{ margin-left:0; }


form.standard textarea.input-textarea{ width:410px; height:70px; padding-top:8px; padding-top:8px; }
form.standard textarea.input-textarea-large{ height:600px; }

form.standard div.form-field-richtext textarea.input-textarea-large{
	padding-left:2px;
	padding-right:2px;
	border-radius:0 3px 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-top:none 0;
}

form.standard div.form-field-richtext div.input{
	float:left;
}

form.standard select{
	width:260px;
	padding:3px 3px 3px 0;
	height:25px;
}

#content form.standard p.input-static{ margin:0 0 0 0; padding:5px 0 0 0; }
#content form.standard p.file-remove{ margin:0 0 0 0; padding:5px 0 5px 0; }
#content form.standard div.form-field-fileimage img,
#content form.standard div.form-field-fileimage div.input-left{
	margin:0 0 0 0;
	display:block;
}

#content form.standard div.form-field-fileimage img{ margin-top:7px; }

form.standard label{
	float:left;
	font-weight:bold;
	display:block;
	width:160px;
	padding:5px 0 0 0;
}
form.standard label.input-low{ font-weight:normal; }


div.form-field-submit input,
div.form-field-link a, #csv_submit, .button_submit{
	background:url(../img/form.submit.bg.png) left top repeat-x;
	border:1px solid #ffffff;
	font-size:120%;
	font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
	height:29px;
	padding:0 11px 2px 11px;
	color:#ffffff;
	text-decoration:none;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:0 0 3px #72862e;
	-webkit-box-shadow:0 0 3px #72862e; 
	-moz-box-shadow: 0 0 3px #72862e; 
	display:block;
}
	div.form-field-link a{ padding:5px 12px 0 12px; height:22px; }
	div.form-field-link{ float:left; }

	div.form-field-submit input:hover,
	div.form-field-link a:hover, #csv_submit:hover, .button_submit:hover{
		cursor:pointer;
		background-position:left bottom;
		box-shadow:0 0 3px #a8c445;
		-webkit-box-shadow:0 0 3px #a8c445;
		-moz-box-shadow: 0 0 3px #a8c445;
	}

/* Form: Social Networks */

form.standard div.field-facebookid label,
form.standard div.field-twitterid label,
form.standard div.field-yahooid label,
form.standard div.field-windowsliveid label,
form.standard div.field-googleid label{
	text-indent:20px;
	background-position:0 4px;
	background-repeat:no-repeat;
}
	form.standard div.field-facebookid label{ background-image:url(../img/social.facebook.gif); }
	form.standard div.field-twitterid label{ background-image:url(../img/social.twitter.gif); }
	form.standard div.field-yahooid label{ background-image:url(../img/social.yahoo.gif); }
	form.standard div.field-windowsliveid label{ background-image:url(../img/social.windowslive.gif); }
	form.standard div.field-googleid label{ background-image:url(../img/social.google.gif); }

/* Form: Social Network Settings */
/* Form: Social Network Settings: Facebook */
form.standard div.field-sitefacebookappid,
form.standard div.field-sitefacebookappsecret,
form.standard div.field-sitefacebooklogin{
	border-right:1px solid #24417f;
	border-left:1px solid #24417f;
	background-color:#5d7ab2;
	padding:8px 10px 10px 10px;
	width:438px;
}

	form.standard div.field-sitefacebooklogin{
		border-bottom:1px solid #24417f;
		-webkit-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		border-radius:0 0 3px 3px;
	}

	form.standard div.field-sitefacebookappid{
		-moz-box-shadow:inset 0 1px 0 #7e94c1;
		-webkit-box-shadow:inset 0 1px 0 #7e94c1;
		box-shadow:inset 0 1px 0 #7e94c1;
		border-top:1px solid #24417f;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		border-radius:3px 3px 0 0;
		margin-top:39px;
	}

form.standard div.field-sitefacebookappid label,
form.standard div.field-sitefacebookappsecret label,
form.standard div.field-sitefacebooklogin label,
#content form.standard div.field-sitefacebooklogin p.tooltip{
	color:#ffffff;
	text-shadow: #000000 0 1px 0;
}

/* Form: Social Network Settings: Twitter */
form.standard div.field-sitetwitterappkey,
form.standard div.field-sitetwitterappsecret,
form.standard div.field-sitetwitterlogin{
	border-right:1px solid #56c2db;
	border-left:1px solid #56c2db;
	background-color:#b0ecee;
	padding:8px 10px 10px 10px;
	width:438px;
}

	form.standard div.field-sitetwitterlogin{
		border-bottom:1px solid #56c2db;
		-webkit-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		border-radius:0 0 3px 3px;
	}

	form.standard div.field-sitetwitterappkey{
		-moz-box-shadow:inset 0 1px 0 #daf5f7;
		-webkit-box-shadow:inset 0 1px 0 #daf5f7;
		box-shadow:inset 0 1px 0 #daf5f7;
		border-top:1px solid #56c2db;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		border-radius:3px 3px 0 0;
		margin-top:10px;
	}

form.standard div.field-sitetwitterappkey label,
form.standard div.field-sitetwitterappsecret label,
form.standard div.field-sitetwitterlogin label,
#content form.standard div.field-sitetwitterlogin p.tooltip{
	color:#000000;
	text-shadow: #ffffff 0 1px 0;
}

/* Form: Social Network Settings: Yahoo */
form.standard div.field-siteyahooconsumerkey,
form.standard div.field-siteyahooconsumersecret,
form.standard div.field-siteyahooappid,
form.standard div.field-siteyahoologin{
	border-right:1px solid #4d2678;
	border-left:1px solid #4d2678;
	background-color:#9474b7;
	padding:8px 10px 10px 10px;
	width:438px;
}

	form.standard div.field-siteyahoologin{
		border-bottom:1px solid #4d2678;
		-webkit-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		border-radius:0 0 3px 3px;
	}

	form.standard div.field-siteyahooconsumerkey{
		-moz-box-shadow:inset 0 1px 0 #b8a3d0;
		-webkit-box-shadow:inset 0 1px 0 #b8a3d0;
		box-shadow:inset 0 1px 0 #b8a3d0;
		border-top:1px solid #4d2678;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		border-radius:3px 3px 0 0;
		margin-top:10px;
	}

form.standard div.field-siteyahooconsumerkey label,
form.standard div.field-siteyahooconsumersecret label,
form.standard div.field-siteyahooappid label,
form.standard div.field-siteyahoologin label,
#content form.standard div.field-siteyahoologin p.tooltip{
	color:#ffffff;
	text-shadow: #000000 0 1px 0;
}

/* Form: Social Network Settings: Google */
form.standard div.field-sitegoogleclientid,
form.standard div.field-sitegoogleclientsecret,
form.standard div.field-sitegooglelogin{
	border-right:1px solid #172f62;
	border-left:1px solid #172f62;
	background-color:#4276e5;
	padding:8px 10px 10px 10px;
	width:438px;
}

	form.standard div.field-sitegooglelogin{
		border-bottom:1px solid #172f62;
		-webkit-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		border-radius:0 0 3px 3px;
	}

	form.standard div.field-sitegoogleclientid{
		-moz-box-shadow:inset 0 1px 0 #6893f0;
		-webkit-box-shadow:inset 0 1px 0 #6893f0;
		box-shadow:inset 0 1px 0 #6893f0;
		border-top:1px solid #172f62;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		border-radius:3px 3px 0 0;
		margin-top:10px;
	}

form.standard div.field-sitegoogleclientid label,
form.standard div.field-sitegoogleclientsecret label,
form.standard div.field-sitegooglelogin label,
#content form.standard div.field-sitegooglelogin p.tooltip{
	color:#ffffff;
	text-shadow: #000000 0 1px 0;
}

/* Form: Social Network Settings: Windows Live */
form.standard div.field-sitewindowsliveclientid,
form.standard div.field-sitewindowsliveclientsecret,
form.standard div.field-sitewindowslivelogin{
	border-right:1px solid #a8a8a8;
	border-left:1px solid #a8a8a8;
	background-color:#f2f2f2;
	padding:8px 10px 10px 10px;
	width:438px;
}

	form.standard div.field-sitewindowslivelogin{
		border-bottom:1px solid #a8a8a8;
		-webkit-border-radius:0 0 3px 3px;
		-moz-border-radius:0 0 3px 3px;
		border-radius:0 0 3px 3px;
	}

	form.standard div.field-sitewindowsliveclientid{
		-moz-box-shadow:inset 0 1px 0 #ffffff;
		-webkit-box-shadow:inset 0 1px 0 #ffffff;
		box-shadow:inset 0 1px 0 #ffffff;
		border-top:1px solid #a8a8a8;
		-webkit-border-radius:3px 3px 0 0;
		-moz-border-radius:3px 3px 0 0;
		border-radius:3px 3px 0 0;
		margin-top:10px;
	}

form.standard div.field-sitewindowsliveclientid label,
form.standard div.field-sitewindowsliveclientsecret label,
form.standard div.field-sitewindowslivelogin label,
#content form.standard div.field-sitewindowslivelogin p.tooltip{
	color:#000000;
	text-shadow: #ffffff 0 1px 0;
}

	#content p.error{ color:#d73838; background:url(../img/icon.small.cross.png) 0 4px no-repeat; }

#content form.large p.tooltip{
	clear:left;
	float:left;
	width:280px;
	font-size:80%;
	color:#353535;
	margin:5px 0 0 160px;
}

/*
	Form: Search mini
*/
div.module-export-container{
	margin:5px 0 0 0;
	position:absolute;
	left:100px;
	z-index:450;
}

div.module-export-container-expanded{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#ffffff;
	-moz-box-shadow:0 0 3px #333333;
	-webkit-box-shadow:0 0 3px #333333;
	box-shadow:0 0 3px #333333;
	margin:-5px 0 0 -10px;
	width:260px;
}

#content div.module-export-container .module-export-mini{
	display:block;
	margin:0;
}

#content div.module-export-container .module-export-full{
	display:none;
	margin:10px 5px 0 10px;
}

#content div.module-export-container-expanded .module-export-full{ display:block; }
#content div.module-export-container-expanded .module-export-mini{ display:none; }

#content div.module-export-container-expanded form ul{
	padding:7px 0 3px 0;
	clear:both;
}

	#content div.module-export-container-expanded form ul li{
		float:left;
		width:122px;
		padding:1px 0 2px 0;
	}

	#content div.module-export-container-expanded form ul li input{
		float:left;
		display:block;
		margin:1px 0 0 0;
	}

	#content div.module-export-container-expanded form ul li label{
		display:block;
		margin:0 0 0 17px;
	}
	
	#content div.module-export-container-expanded form div.form-buttons{
		margin:5px 0 9px 0;
		float:left;
	}

#content p.module-search-expand{
	margin:5px 0 0 0;
	float:right;
}
	
#content p.module-search-contract{
	position:absolute;
	right:20px;
	top:5px;
}

	#content p.module-export a,
	#content p.module-search-expand a,
	#content p.module-search-contract a{
		float:left;
		display:block;
	}

	#content p.module-export span,
	#content p.module-search-expand span,
	#content p.module-search-contract span{
		margin-right:5px;
		display:block;
		float:left;
		background:#ac4a4a;
		font-size:80%;
		color:#ffffff;
		width:16px;
		height:13px;
		padding:1px 0 1px 0;
		text-transform:uppercase;
		text-decoration:none;
		text-shadow:none;
		text-align:center;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}
	#content p.module-export span{ font-size:70%; padding-top:3px; height:11px; }

#content form.search-mini{
	float:right;
}

	#content form.search-mini legend{ display:none; }
	#content form.search-mini div.form-field{ display:none; }
	#content form.search-mini fieldset{ float:left; }
	
	#content form.search-mini div.field-searchkeywords{
		display:block;
		padding:0 0 0 0;
	}
	
	#content form.search-mini div.field-searchsubmit{
		display:block;
		float:left;
		clear:none;
		padding:0 0 0 10px;
	}
	
		#content form.search-mini div.field-searchsubmit input{
			height:25px;
		}

	#content form.search-mini div.field-searchkeywords label{
		display:none;
	}

/*
	Form: Search full
*/

#content form.search-full{ margin-bottom:20px; margin-left:0; margin-right:0; }

#content form.search-full p.tooltip{
	position:absolute;
	right:2px;
	top:-40px;
	width:284px;
	font-size:80%;
	background:#444;
	margin:0;
	padding:7px;
	color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display:none;
}
	#content form.search-full div.form-field:hover p.tooltip{ display:block; }
	#content form.search-full p.tooltip a{ color:#cccccc; }

#content form.search-full div.form-field label{ width:120px; }
#content form.search-full div.form-field-text,
#content form.search-full div.form-field-select{
	clear:none;
	float:left;
	width:420px;
	padding-left:20px;
	height:35px;
}
	#content form.search-full div.form-field input.input-text{ width:288px; }
	#content form.search-full div.form-field select.input-select{ width:298px; }

#content form.search-full div.field-searchkeywords{ clear:both; }
#content form.search-full div.field-searchsubmit,
#content form.search-full legend{ margin-left:20px; }

#content form.search-full div.form-field-submit,
#content form.search-full div.form-field-link{
	float:left;
	padding:0 10px 0 0;
	clear:none;
}

/*
	Table: Table data
*/
table.table-data{
	width:100%;
	background:#dcdcdc;
}

table.table-data td.center,
table.table-data th.center{
	text-align:center;
}

table.table-data .first{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 5px;
}

table.table-data .last{
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 5px;
}

table.table-data input{ display:block; }
table.table-data th a{ color:#353535; display:block; text-decoration:none; float:left; }
	table.table-data th.asc a,
	table.table-data th.desc a{ background:right 3px no-repeat url(../img/icon.arrow.down.png); padding-right:13px; }
	table.table-data th.asc a{ background-image:url(../img/icon.arrow.up.png); }
table.table-data th a:hover{ color:#888888; }
table.table-data th{
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	background:#ededed;
	height:43px;
	padding:0 15px 0 15px;
	font-weight:bold;
	text-shadow:#ffffff 0 1px 0;
}

	table.table-data th.field-type{ padding:0; }
	table.table-data th.field-type a{
		display:none;
	}

table.table-data td{
	padding:10px 15px 10px 15px;
	border-bottom:1px solid #dcdcdc;
	background:#ffffff;
}

	table.table-data td span.user-type{
		display:block;
		height:16px;
		width:16px;
		background:left top no-repeat url(../img/social.core.gif);
	}
	
	table.table-data td span.user-type{ cursor:help; }

		table.table-data td span.user-type-facebook{ background-image:url(../img/social.facebook.gif); }
		table.table-data td span.user-type-twitter{ background-image:url(../img/social.twitter.gif); }
		table.table-data td span.user-type-yahoo{ background-image:url(../img/social.yahoo.gif); }
		table.table-data td span.user-type-windows_live{ background-image:url(../img/social.windowslive.gif); }
		table.table-data td span.user-type-google{ background-image:url(../img/social.google.gif); }

	table.table-data td.field-type{
		padding:11px 0 9px 3px;
	}

table.table-data tr.odd td{ background:#f9f9f9; }
table.table-data tr.hover td{ background:#f4f4f4; cursor:default; }
table.table-data tr.highlight td{ background:#c94c4c; }
	table.table-data tr td img{ border:1px solid #333333; }

	table.table-data tr.highlight td{ color:#ffffff; text-shadow:#000000 0 1px 0; }
	table.table-data tr.no-records td{
		font-weight:bold;
		text-align:center;
	}

	a.mini-button,
	span.mini-button{
		display:block;
		float:left;
		background:#ac4a4a;
		font-size:80%;
		color:#ffffff;
		padding:1px 6px 1px 6px;
		text-transform:uppercase;
		text-decoration:none;
		margin:0 7px 0 0;
		text-shadow:none;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}

	.highlight a.mini-button{ color:#ac4a4a; background:#ffffff; }
	.highlight a.mini-button:hover,
	a.mini-button:hover{ background:#000000; color:#ffffff; }

	a.mini-button-supplement{
		margin:10px 0 0 8px;
	}
	
	span.mini-button{
		background-color:#cccccc;
	}

table.table-supplement td{
	padding-top:8px;
	padding-bottom:8px;
	border-top:1px solid #dcdcdc;
	border-bottom:none 0;
}
	table.table-supplement td.options{ padding-right:3px; }

table.table-supplement th{
	height:33px;
}

table.table-supplement tr.first td{
	border-top:none 0;
}
	

#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}

#ajax-lookups{
	position:absolute;
	/*top:50%;*/
	/*left:50%;*/
	z-index:999999;
	background:#FFF;
	border:3px solid #A76F95;
	padding:10px;
}
#overlay{
	position:fixed;
	top:0;
	left:0;
	display:none;
	width:100%;
	height:100%;
	background: #000;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  /* IE 5-7 */
  filter: alpha(opacity=20);
  /* Netscape */
  -moz-opacity: 0.2;
  /* Safari 1.x */
  -khtml-opacity: 0.2;
  /* Good browsers */
  opacity: 0.2;
}
#ajax-lookups-description{
	font-weight:bold;
	font-size:14px;
}
.ean-num{
	font-weight:bold;
	cursor:pointer;
}
#ajax-lookups input[type=button]{
	cursor:pointer;
}
#ajax-lookups-result{
	height:450px;
	overflow: scroll;
}