html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	list-style:none;
	line-height:normal;
	color:#555555;
	font-family:Arial, Helvetica, sans-serif;
}

body{ font-size:75%; }

blockquote, q{ quotes: none; }

:focus{ outline: 0; }

table{
	border-collapse: collapse;
	border-spacing: 0;
}

small{ font-size:80%; }

.clear-fix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
.clear-fix {
	display:inline-block;
}
html[xmlns] .clear-fix {
	display:block;
}
* html .clear-fix {
	height:1%;
}